// Dark mode
.vrm__menu-dark {
  //Backgroud
  --res-menu-backgroud: #424242;
  --res-menu-hover-backgroud: #5a5a5a;
  --res-menu-active-backgroud: #5a5a5a;
  --res-menu-divider: #5a5a5a;

  //Text
  --res-menu-text: #fff;
  --res-menu-hover-text: #fff;
  --res-menu-active-text: #fff;

  //Items
  --res-items-height: 60px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
